<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
    <div class="center">
        <h1>Welcome! Please login or register.</h1>
        <p>This website is a Recipe Sharing Platform where users can submit, share, and discover new recipes. Enjoy!</p>

    </div>
    <div class="center">
        <!-- Button to go to the login page -->
        <button onclick="location.href='/login'">Login</button>
        <!-- Button to go to the registration page -->
        <button onclick="location.href='/register'">Register</button>
    </div>

</body>
</html>
