/* register.css */
body {
    background-image: url('./img/BG2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.2em; /* Increase the font size */
    color: azure;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

h1 {
    text-align: center;
    font-size: 2em; /* Make the title bigger */
    margin-bottom: 20px; /* Add space below the title */
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px; /* Add space below the input fields */
}

input[type="submit"] {
    border-radius: 12px; /* Make the button rounded */
    transition: all 0.3s ease-in-out; /* Add a transition for the hover effect */
    margin-top: 10px; /* Add space above the button */
}

input[type="submit"]:hover {
    background-color: #ddd; /* Change the button color on hover */
    cursor: pointer; /* Change the cursor on hover */
}
